<div class="container">
    <h2>About Us</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <p>
                    with a new essence that is inspiring, authentic, extraordinary and unique. The rooms embrace a vanguard spirit, featuring a well-balanced and elegant aesthetic, a new eclectic Mediterranean style, making it the perfect combination to create an exclusive
                    place with its own personality that will reach the most important capitals of the world
                </p>
            </div>

            <div class="item">
                <p>
                    surrounds the hotel. With a unique and irreplaceable style inspired by the designs of Coco Chanel, each room will immerse you in an iconic and eclectic Mediterranean environment. Renovated classics are the highlights of the rooms’ interior design,

                </p>
            </div>

            <div class="item">
                <p>
                    Life’s pleasures, Epicurus’s hedonistic philosophy and the elegance of Coco Chanel all come together in the rooms of Bless Hotel Ibiza, where relaxing becomes a transcendent pleasure. An energy on this side of the island, that equally attracts and relaxes,


                </p>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<!-- ========================  Stretcher widget ======================== -->
<section class="stretcher-wrapper" id="facilities">
    <!-- === stretcher header === -->
    <div class="section-header">
        <div class="container">
            <h2 class="title">Hotel Facilities</h2>
            <p>

            </p>
        </div>
    </div>
    <!-- === stretcher === -->

    <ul class="stretcher">

        <!-- === stretcher item === -->

        <a href="/home/gallery">
            <li class="stretcher-item" style="background-image:url(assets/white.jpg);">
                <!--logo-item-->
                <div class="stretcher-logo">
                    <div class="text">
                        <span class="text-intro h4">Rooms</span>
                    </div>
                </div>
                <!--main text-->
                <figure>
                    <h4>Rooms</h4>
                </figure>
            </li>
        </a>

        <!-- === stretcher item === -->
        <a href="/home/gym">
            <li class="stretcher-item" style="background-image:url(assets/spa1.jpg);">
                <!--logo-item-->
                <div class="stretcher-logo">
                    <div class="text">
                        <span class="text-intro h4">Spa</span>
                    </div>
                </div>
                <!--main text-->
                <figure>
                    <h4>Spa</h4>
                </figure>
            </li>
        </a>


        <!-- === stretcher item === -->
        <a href="/home/spafacilities">
            <li class="stretcher-item" style="background-image:url(assets/poold.jpg);">
                <!--logo-item-->
                <div class="stretcher-logo">
                    <div class="text">
                        <span class="text-intro h4">Pools</span>
                    </div>
                </div>
                <!--main text-->
                <figure>
                    <h4>Pools</h4>
                </figure>
            </li>
        </a>


        <!-- === stretcher item === -->
        <a href="/home/resturant">
            <li class="stretcher-item" style="background-image:url(assets/rast.jpg);">
                <!--logo-item-->
                <div class="stretcher-logo">
                    <div class="text">
                        <span class="text-intro h4">Resturants</span>
                    </div>
                </div>
                <!--main text-->
                <figure>
                    <h4>Resturants</h4>
                </figure>
            </li>
        </a>


        <!-- === stretcher item more === -->
        <a href="/home/newgym">
            <li class="stretcher-item" style="background-image:url(assets/gym.jpg);">
                <!--logo-item-->
                <div class="stretcher-logo">
                    <div class="text">
                        <span class="text-intro h4">GYM</span>
                    </div>
                </div>
                <!--main text-->
                <figure>
                    <h4>Gym</h4>
                </figure>
            </li>
        </a>

    </ul>


</section>

<router-outlet></router-outlet>