<p>
    trying to place text</p>
<h3>
    <i>Our comfortable suits awaits</i></h3>
<table class="center">
    <tr>
        <td> <img src="/assets/white.jpg" alt="Fjords" style="width:100%" style="height:50%;"></td>
        <h4>spacing</h4>
        <td><i><b>Double Superior Rooms<br> These rooms are equipped with an en-suite bathroom with
            <br> a shower and offer the option of either king or twin beds.
            <br> Perfect for couples or friends travelling together,
            <br> these spacious havens come with an array of features.</b></i></td>
    </tr>
    <p>making a space in between</p>
</table>
<table>
    <tr>
        <td> <img src="/assets/bedding.jpg" alt="Fjords" style="width:100px" style="height:50%;"></td>
        <h4>spacing</h4>
        <td><i><b>Double Superior Rooms<br> These rooms are equipped with an en-suite bathroom with
            <br> a shower and offer the option of either king or twin beds.
            <br> Perfect for couples or friends travelling together,
            <br> these spacious havens come with an array of features.</b></i></td>
    </tr>

</table>
<br>

<table>
    <tr>
        <td> <img src="/assets/atlantic.jpg" alt="Fjords" style="width:150px" style="height:50%;"></td>
        <h4>spacing</h4>
        <td><i><b>Double Superior Rooms<br> These rooms are equipped with an en-suite bathroom with
            <br> a shower and offer the option of either king or twin beds.
            <br> Perfect for couples or friends travelling together,
            <br> these spacious havens come with an array of features.</b></i></td>
    </tr>
    <p>making a space in between</p>

    <tr>
        <td> <img src="/assets/hotel.jpg" alt="Fjords" style="width:150px" style="height:50%;"></td>
        <h4>spacing</h4>
        <td><i><b>Double Superior Rooms<br> These rooms are equipped with an en-suite bathroom with
            <br> a shower and offer the option of either king or twin beds.
            <br> Perfect for couples or friends travelling together,
            <br> these spacious havens come with an array of features.</b></i></td>
    </tr>
</table>
<p>making a space in between</p>
<table>
    <tr>
        <td> <img src="/assets/city.jpg" alt="Fjords" style="width:100px" style="height:250px;"></td>
        <td>
            <h4>spacing</h4>
        </td>
        <td><i><b>Double Superior Rooms<br> These rooms are equipped with an en-suite bathroom with
            <br> a shower and offer the option of either king or twin beds.
            <br> Perfect for couples or friends travelling together,
            <br> these spacious havens come with an array of features.</b></i></td>
    </tr>
</table>