<p>
    trying to place text</p>
<h3>
    <i>We have amazing spa botiques in our hotel</i></h3>
<table class="center">
    <tr>
        <td> <img src="/assets/spafeet.jpg" alt="Fjords" style="width:200px" style="height:200px"></td>
        <p>spaces</p>
        <td><i><b>we have a meni and pedi cure salons<br> These rooms are equipped with an en-suite bathroom with
            <br> a shower and offer the option of either king or twin beds.
            <br> Perfect for couples or friends travelling together,
            <br> these spacious havens come with an array of features.</b></i></td>
    </tr>
    <p>spaces</p>

    <tr>
        <td> <img src="/assets/black.jpg" alt="Fjords" style="width:150px" style="height:200px"></td>
        <p>spaces</p>
        <td><i><b>we offer amazing packages<br> These rooms are equipped with an en-suite bathroom with
            <br> a shower and offer the option of either king or twin beds.
            <br> Perfect for couples or friends travelling together,
            <br> these spacious havens come with an array of features.</b></i></td>
    </tr>

    <p>spaces</p>
    <tr>
        <td> <img src="/assets/spaone.jpg" alt="Fjords" style="width:200px" style="height:200px"></td>
        <p>spaces</p>
        <td><i><b>Our spa rooms have different designs<br> These rooms are equipped with an en-suite bathroom with
            <br> a shower and offer the option of either king or twin beds.
            <br> Perfect for couples or friends travelling together,
            <br> these spacious havens come with an array of features.</b></i></td>
    </tr>
    <p>spaces</p>

    <tr>
        <td> <img src="/assets/foot.jpg" alt="Fjords" style="width:200px" style="height:200px"></td>
        <p>spaces</p>
        <td><i><b>we have amazing foot treatment offers<br> 
          These rooms are equipped with an en-suite bathroom with
            <br> a shower and offer the option of either king or twin beds.
            <br> Perfect for couples or friends travelling together,
            <br> these spacious havens come with an array of features.</b></i></td>
    </tr>
</table>