<p>
    trying to place text</p>
<h3>
    <i>Break a sweat..</i></h3>
<table class="center">
    <tr>

        <td><i><b>we have amazing gym areas<br> 
          These rooms are equipped with 
          <br>an en-suite bathroom with<br>
         
          <br> these spacious havens come <br>
          with an array of features.</b></i></td>

        <td> <img src="/assets/gympool.jpg" alt="Fjords" style="width:200px" style="height:200px"></td>


    </tr>
    <p>making a space in between</p>
</table>
<table>
    <tr>


        <td> <img src="/assets/yoga.jpg" alt="Fjords" style="width:300px" style="height:200px"></td>

        <td><i><b>we have amazing gym areas<br> 
          These rooms are equipped with 
          <br>an en-suite bathroom with<br>
         
          <br> these spacious havens come <br>
          with an array of features.</b></i></td>

    </tr>

</table>
<br>

<table>
    <tr>

        <td><i><b>we have amazing gym areas<br> 
          These rooms are equipped with 
          <br>an en-suite bathroom with<br>
         
          <br> these spacious havens come <br>
          with an array of features.</b></i></td>
        <td> <img src="/assets/gy.jpg" alt="Fjords" style="width:200px" style="height:200px;"></td>


    </tr>
    <p>making a space in between</p>

    <tr>
        <td> <img src="/assets/fity.jpg" alt="Fjords" style="width:100px" style="height:200px;"></td>


        <td><i><b>we have amazing gym areas<br> 
          These rooms are equipped with 
          <br>an en-suite bathroom with<br>
         
          <br> these spacious havens come <br>
          with an array of features.</b></i></td>
    </tr>
</table>