<p>
    trying to place text</p>
<h3>
    <i>Our resturant are designed according to your specifiation</i></h3>
<table class="center">
    <tr>
        <td> <img src="/assets/rastu.jpeg" alt="Fjords" style="width:300px" style="height:200px"></td>
        <p>making a space in between</p>
        <td><i><b>We haave amazing azing
          <br>
           chefs to cook for your desire</b></i></td>
    </tr>

</table>

<br>

<table>
    <tr>
        <td> <img src="/assets/chef.jpg" alt="Fjords" style="width:200px" style="height:200px"></td>
        <p>making a space in between</p>
        <td><i><b>We haave amazing azing
            <br>
             chefs to cook for your desire</b></i></td>
    </tr>


    <tr>
        <td> <img src="/assets/roofd.jpg" alt="Fjords" style="width:200px" style="height:200px"></td>
        <p>making a space in between</p>
        <td><i><b>We haave amazing azing
            <br>
             chefs to cook for your desire</b></i></td>
    </tr>
</table>