<div class="wrapper">
    <div class="container">

        <p>Book Here</p>

        <div class="form">
            <input name="Username" type="text" placeholder="Username" [(ngModel)]="Username">
            <input name="Lastname" type="text" placeholder="Lastname" [(ngModel)]="Lastname">
            <input type="date" placeholder="Check-in" [(ngModel)]="checkin">
            <input type="date" placeholder="Check-out" [(ngModel)]="checkout">
            <input name="Adults" type="number" placeholder="Adults" [(ngModel)]="Adults">
            <input name="Children" type="number" placeholder="Children" [(ngModel)]="Children">
            <input name="Rooms" type="number" placeholder="Rooms" [(ngModel)]="Rooms">
            <button type="submit" id="login-button" (click)="onLogin()">Login</button>
        </div>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>